<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/cliently.png">
</head>

<body>
    <div class="main-content">
        <h1>{{title}}</h1>
    
        {{>header}}

        <img class="portrait" src="/img/robot.png">
        
    </div>

    {{>footer}}
</body>

</html>